.App {
  text-align: center;
}

.App-logo {
  height: 5.2vmin;
  pointer-events: none;
  margin-left: -50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
